*{
    margin 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

#contenedor{
    width: 50%;
    margin: 0 auto;
    background: #2c2c2c;
    padding: 30px;
}

#contenedor h1{
    font-size: 24px;
}

#contenedor #form{
    margin-top: 20px;
}

#form p{
    width: 100px;
    margin-top: 12px;
}

input[type="text"], input[type="email"], input[type="number"]{
    margin-top: 20px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
}

input[type="submit"]{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    background: #144c83;
    background: linear-gradient(#144c83,#2da8ea);
    border: 0;
}

input[type="submit"]:hover{
    background: linear-gradient(#2da8ea,#144c83);
    color: #e7e7e7;
}

/*media queries para el responsive*/
/*PANTALLAS TABLETS*/
@media only screen and (min-width: 701px) and (max-width: 980px){
    #contenedor{
        width: 60%;
        margin: 0 auto;
    }
}

/*PANTALLAS SMARTPHONE*/
@media only screen and (min-width: 340px) and (max-width: 700px){
    #contenedor{
        width: 80%;
        margin: 0 auto;
    }
}