.error{
	color: red;
	font-family: verdana;
	font-size: 12px;
	/*float: left;*/
}

.form-control-red:focus {
    border-color: #ff0000;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.5);
}

.form-control-green:focus {
    border-color: #00ff00;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 255, 0, 0.5);
}